<footer class="page-wrap">
    <div id="footer-content">
    	<div class="footer-links">
    		Potty Talk - A Place for shits and giggles. 
    	<ul>
          <li><a href="{{@blog.url}}">Home</a></li>
          <li>&nbsp l</li>
          <li><a href="{{@blog.url}}/events">Events</a></li>
          <li>&nbsp l</li>
          <li><a href="{{@blog.url}}/about">About</a></li>
          <li>&nbsp l</li>
          <li><a href="{{@blog.url}}/contact">Contact</a></li>
       </ul>


        </div>

		
    </div>

    <div id="social-icons">
	    <a href="#"><i class="fa fa-google-plus"></i></a>
	    <a href="#"><i class="fa fa-facebook"></i></a>
	    <a href="#"><i class="fa fa-twitter"></i></a>
	    <a href="#"><i  class="fa fa-youtube"></i></a>
        <a href="#"><i  class="fa fa-instagram"></i></a>
	    <a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a>
	</div>

    <div id="copyrights">
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
    </div>
</footer>